* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	max-width: 595px;
    background: #ffffff;
}

.header {
    background: #ffffff;
    border-bottom: 1px solid #292929;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.profile-pic-frame {
    border: 1px solid #292929;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile-pic-frame img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.text-block {
    font-family: "Anton", sans-serif;
    color: #292929;
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
}

.separator {
    background: #292929;
    width: 10px;
    max-width: 100%;
    margin: 0 20px;
}

.page-container {
    display: flex;
    height: 100%;
}

.page-container h1 {
    font-size: 20px;
    font-weight: 400;
}

.side-panel {
    background: #ffffff;
    border-right: 1px solid #292929;
    width: 227px;
    padding: 0 41.12px 0 38.03px;

}

.side-panel h6 {
    font-weight: 700;
    font-size: 10px;
    font-family: 'Gotham', sans-serif;
}

.side-panel span {
    font-size: 10px;
    font-weight: 300;
    font-family: 'Gotham', sans-serif;
}

.side-panel-header {
    margin-top: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #292929;
    color: 292929;
    font-size: 20.56px;
    font-family: "Anton", sans-serif;
    width: 150px;
    padding-bottom: 10px;
}

.card-section {
    border-bottom: 0.21px solid #292929;
    width: 150px;
    margin-top: 15px;
}

.card-section span {
    color:#292929;
}

.card-section a {
    font-family: 'Gotham', sans-serif;
    color: #292929;
    text-decoration: none;
    font-size: 10px;
}

.card-section h1, h6 {
    color: #292929;
    font-size: 20.28px;
    
}



.vscode ,
.adobe ,
.tvpaint ,
.photoshop  {
    height: 20px;
    width: 300px;
    border-radius: 4.11px;
    overflow: hidden; 
    font-family: 'Gotham', sans-serif;
    margin-top: 10px;
}

.meters {
    margin-top: 10px;
   
}

.vscode-meter {
    width: 169.47px;
    height: 100%;
    background: linear-gradient(to right, #84FAB0, #8FD3F4); 
    border-radius: 4.11px;
     
}


.adobe-meter {
    width: 123.35px;
    height: 100%;
    background: linear-gradient(to right, #84FAB0, #8FD3F4); 
    border-radius: 4.11px;  
}

.tvpaint-meter {
    width: 128.49px;
    height: 100%;
    background: linear-gradient(to right, #84FAB0, #8FD3F4); 
    border-radius: 4.11px; 
}

.photoshop-meter {
    width: 139.79px;
    height: 100%;
    background: linear-gradient(to right, #84FAB0, #8FD3F4); 
    border-radius: 4.11px; 
}


.profile {
    background: #ffffff;
    flex: 1;
    
}

.profile-card {
    padding: 20px;
}

.profile-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #292929;
    color: #292929;
    font-family: "Anton", sans-serif;
}

.profile-bio {
    font-size: 10px;
}

.profile-card-text {
    display: flex;
    flex-direction: column;
    color: #292929;
    font-family: 'Gotham', sans-serif;
}

.profile-card-text span {
    font-size: 10px;
}

.profile-card h2 {
    font-family: "Anton", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.profile-card h3 {
    font-family: "Anton", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.profile-card-skills {
    font-family: "Anton", sans-serif;
    color: #292929;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}





.profile-card-experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-card-experience span {
    font-family: 'Gotham', sans-serif;
}

.profile-card-dates-exp {
    display: flex;
    justify-content: space-between;
}

.profile-card-dates-exp span {
    font-family: 'Gotham', sans-serif;
}

.profile-card-exp {
    display: flex;
    flex-direction: column;

}

 
.profile-card-dates {
    font-size: 12px;
}

.exp-place {
    font-size: 10px;
}

.profile-card-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



