* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	max-width: 595px;
    background: #292929;
}




.header {
    background: #292929;
    border-bottom: 1px solid white;
    padding: 20px 0;
    max-width: 100%;
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.profile-pic-frame {
    max-width: 100%;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    border: 1px solid white;
    
}

.profile-pic-frame img {
    object-fit: cover;
    max-width: 100%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.name-container {
    
    max-width: 100%;
    display: flex;
    
    justify-content: center;
}

.text-block h1, .text-block h2{
    display: flex;
    justify-content: center;
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 100%;
}

.separator {
    background: white;
    width: 10px;
    max-width: 100%;
    margin: 0 20px;
}

.page-container {
    display: flex;
    height: 100%;
}

.side-panel {
    background: #292929;
    border-right: 1px solid white;
    width: 234px;
    padding: 30px 41.12px 0 38.03px;

}



.side-panel-header {
    margin-top: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20.56px;
    font-family: "Anton", sans-serif;
    width: 150px;
}

.card-section {
    border-bottom: 0.21px solid white;
    font-family: "Montserrat", sans-serif;
    width: 150px;
}

.card-section span {
    color:grey;
}

.card-section h1, h6 {
    color: white;
    font-size: 20.28px;
    
}

.card-section h6 {
    margin-top: 10px;
}

.vscode ,
.adobe ,
.tvpaint ,
.photoshop  {
    height: 20px;
    width: 300px;
    background: grey;
    border-radius: 4.11px;
    overflow: hidden;   
}

.vscode-meter {
    width: 169.47px;
    height: 100%;
    background: linear-gradient(to right, #84FAB0, #8FD3F4); 
    border-radius: 4.11px;
     
}


.adobe-meter {
    width: 123.35px;
    height: 100%;
    background: linear-gradient(to right, #84FAB0, #8FD3F4); 
    border-radius: 4.11px;  
}

.tvpaint-meter {
    width: 128.49px;
    height: 100%;
    background: linear-gradient(to right, #84FAB0, #8FD3F4); 
    border-radius: 4.11px; 
}

.photoshop-meter {
    width: 139.79px;
    height: 100%;
    background: linear-gradient(to right, #84FAB0, #8FD3F4); 
    border-radius: 4.11px; 
}


.profile {
    background: #292929;
    flex: 1;
    padding: 20.56px 20.56px 20.56px 19.18px;
}

.profile-header {
    margin-top: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    color: white;
    font-family: "Anton", sans-serif;
}

.profile-card-skills {
    font-family: "Anton", sans-serif;
    color: white;
    display: flex;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box .ux {
    position: relative;
    width: 150px;
    height: 150px;
}

.box .ux svg {
    position: relative;
    width: 150px;
    height: 150px;
}

.box .ux svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform:translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;

}


.box .ux svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #F4EFFD;

}

.box .ux svg circle:nth-child(2) {
    stroke-dashoffset: 40;
    stroke:#84FAB0;

}


.box .ux .ux-title {
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box .ux 

.profile-card-experience {
    display: flex;
}



.profile-card-dates {
    display: flex;
    flex-direction: column;
}

.profile-card-text {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: grey;
}


